.battleground {
  height: calc(var(--tile-width) * 11);
  width: calc(var(--tile-width) * 11);
  margin: 0 calc(var(--tile-width) + 20px) 40px 20px;
  
  display: grid;
  grid-template-columns: 
  var(--tile-width) var(--tile-width) 
  var(--tile-width) var(--tile-width) 
  var(--tile-width) var(--tile-width) 
  var(--tile-width) var(--tile-width) 
  var(--tile-width) var(--tile-width) 
  var(--tile-width);
  
  font-size: var(--tile-font-size);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grid-fg-col);
}

.index-tile {
  font-weight: bold;
  background-color: transparent;
  color: slategray;
  border: none;
}

.index-tile:hover {
  background-color: transparent;
}

.zero-tile {
  color: transparent;
}

.hole {
  width: calc(var(--tile-width)/3);
  height: calc(var(--tile-width)/3);
  border: 2px solid whitesmoke;
  border-radius: 50%;
}