:root {
  --tile-width: 40px;
  --tile-font-size: calc(var(--tile-width)*0.5);

  --grid-bg-col: rgb(10, 64, 85);
  --grid-fg-col: rgb(28, 158, 209);
}

html {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(197, 204, 211);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}